@use "./mixin" as *;

.about-page {
    visibility: hidden; // loadingが終わるまで隠す
    transition: all 0.3s;
    transition-delay: 0.3s;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    
    .sidebar {
        .sidelist ul li:nth-child(3) {
            color: #da9333;
            background-color: #191919;
            border-right: 2px solid #da9333;
        }
    }
    .main {
        &__block {
            p {
                display: block;
                width: 90%;
                height: 40px;
                padding-left: 5%;
            }
        }
    }
}