@use "./mixin" as *;

.contact-page {
    visibility: hidden; // loadingが終わるまで隠す
    transition: all 0.3s;
    transition-delay: 0.3s;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    
    .sidebar {
        .sidelist ul li:nth-child(4) {
            color: #da9333;
            background-color: #191919;
            border-right: 2px solid #da9333;
        }
    }
    .main {
        &__block {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            height: 50px;
            justify-content: center;
        }
        .contact-block {
            border: 1px solid #fff;
            display: flex;
            width: 400px;
            height: 50px;
            align-items: center;
            margin-inline: 20px;
        }
    }
}