@use "./mixin" as *;

.sidebar {
    width: 250px;
    height: 100vh;
    border-right: 2px solid #696969;
    border-left: 10px solid black;
    transition: all 0.3s;
}
.close-menu {
    width: 60px;
    transition: all 0.3s;
}
.menu-top {
    display: flex;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    padding-left: 6px;

    &__btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;

        img {
            width: 30px;
            height: 30px;
        }
    }
    &__logo {
        img {
            width: 90px;
            height: 40px;
        }
    }
}
.text-hidden ul li a span:nth-child(2), .logo-hidden {
    display: none;
}
.sidelist {
    width: 100%;
}
.sidelist li {
    list-style: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-block: 10px;
}

.sidelist li:hover {
    color: #da9333;
    background-color: #191919;
    border-right: 2px solid #da9333;
    transition: all 0.3s;
}

.sidelist li a {
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;

    span:nth-child(1) {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin-right: 10px;

        img {
            width: 30px;
            height: 30px;
        }
    }
    span:nth-child(2) {
        display: block;
        height: 40px;
    }
}